
.Login {
    padding: 60px 0;
}
  
.Login form {
    margin: 0 auto;
    max-width: 320px;
}
.section {
    margin-top: 30px;
}
.artist-image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.audioControl{
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
}
.playable{
    cursor: pointer;
}
.container{
    margin-bottom: 40px;
}
.col{
    margin: auto;
}

.list-song-album-page{
    margin-top: 0;
}

.thum-40{
    width: 40px;
    height: 40px;
}

.song-list{
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    display: flex;
    margin-bottom: 9px;
}
.order{
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    display: flex;
}

.all-card{
    display: -webkit-box;
    margin-bottom: 9px;
    border-bottom: 1px solid #232323;
}
.title-singer{
    margin: 0;
}
.artist{
    font-size: 14px;
}